{
	"presets": [["next/babel"]],
	"plugins": [
		["import", { "libraryName": "antd", "style": true }],
		["styled-components", { "ssr": true }],
		[
			"module-resolver",
			{
				"extensions": [".js", ".jsx", ".es", ".es6", ".mjs", ".ts", ".tsx"],
				"root": ["."],
				"alias": {
					"@components": "./_components",
					"@utils": "./_utils",
					"@theme": "./_theme",
					"@sections": "./_sections",
					"@static": "./public/static"
				}
			}
		]
	]
}
