!.eslintrc.js
!.prettierrc.js
.next/**
.vscode
.github
*.yml
package.json
package-lock.json
manifest.json
jsconfig.json
*.css
*.md
_devops/**
**/*.less
*.yaml
*.config.js
_routes/*
server.js
tsconfig.json
types/*