{
	"extends": [
		"airbnb",
		"prettier",
		"prettier/react",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"plugins": ["prettier"],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2016,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"settings": {
		"import/resolver": {
			"babel-module": {}
		},
		"react": {
			"version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
		}
	},
	"rules": {
		"@typescript-eslint/camelcase": 1,
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		],
		"jsx-a11y/anchor-is-valid": [
			1,
			{
				"components": ["Link"],
				"aspects": ["invalidHref", "preferButton"]
			}
		],
		"jsx-a11y/label-has-for": [
			2,
			{
				"components": ["Label"],
				"required": {
					"some": ["nesting", "id"]
				},
				"allowChildren": false
			}
		],
		"no-underscore-dangle": 1,
		"import/prefer-default-export": 1
	}
}
