{
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended", // Uses the recommended rules from @eslint-plugin-react
		"plugin:@typescript-eslint/recommended", // Uses the recommended rules from the @typescript-eslint/eslint-plugin
		"prettier/@typescript-eslint", // Uses eslint-config-prettier to disable ESLint rules from @typescript-eslint/eslint-plugin that would conflict with prettier
		"plugin:prettier/recommended"
	],
	"plugins": ["@typescript-eslint", "prettier"],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"overrides": [
		{
			"files": ["**/*.js", "**/*.ts", "**/*.jsx", "**/*.tsx"],
			"rules": {
				"react/prop-types": "off"
			}
		}
	],
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"settings": {
		"import/parsers": {
			"@typescript-eslint/parser": [".ts", ".tsx"]
		},
		"import/resolver": {
			"typescript": {
				"alwaysTryTypes": true
			},
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			},
			"babel-module": {}
		},
		"react": {
			"version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
		}
	},
	"rules": {
		"@typescript-eslint/quotes": ["error", "double"],
		"prettier/prettier": "error",
		"@typescript-eslint/no-unused-vars": "error",
		"react/jsx-props-no-spreading": ["off"],
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		],
		"no-console": 2,
		"no-underscore-dangle": 0,
		"react/prop-types": 0,
		"no-mixed-spaces-and-tabs": 0,
		"no-extra-semi": 0
	},
	"reportUnusedDisableDirectives": true
}
