{
	"printWidth": 120,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"jsxBracketSameLine": false,
	"proseWrap": "always",
	"quoteProps": "consistent",
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"trailingComma": "es5",
	"arrowParens": "avoid"
}
