/* Docs http://flexboxgrid.com/ */
@import "./flexboxgrid.min.css";

/* Define the "system" font family */
@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"),
		local("Ubuntu Regular"), local("Segoe UI Regular"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

body,
html {
	font-family: "system";
	font-size: 14px;
	line-height: 1.58;
	letter-spacing: 0.025em;
	color: #2b2b2b;
	-webkit-font-smoothing: antialiased;
}

.box-nested {
	background: #036;
	border-color: #007fff;
}

.box,
.box-first,
.box-large,
.box-nested,
.box-row {
	padding: 1rem;
	position: relative;
	box-sizing: border-box;
	min-height: 1rem;
	margin-bottom: 0;
	background: #007fff;
	overflow: hidden;
	text-align: center;
	color: #fff;
}
