/* Define the "system" font family */
@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"),
		local("Ubuntu Regular"), local("Segoe UI Regular"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

body,
html {
	font-family: "system";
	font-size: 14px;
	line-height: 1.58;
	letter-spacing: 0.025em;
	color: #2b2b2b;
	-webkit-font-smoothing: antialiased;
}
