/* Docs http://reflexgrid.com/docs/ */
@import "./reflex.min.css";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

/* Define the "system" font family */
@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"),
		local("Ubuntu Regular"), local("Segoe UI Regular"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

body,
html {
	font-family: "Open Sans", "system";
	font-size: 14px;
	line-height: 1.58;
	letter-spacing: 0.025em;
	color: #282c3f;
	-webkit-font-smoothing: antialiased;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

a {
	text-decoration: none;
	color: #282c3f;
}

@media (min-width: 1600px) {
	.container {
		max-width: 1300px;
	}
}
