/* Define the "system" font family */
@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"),
		local("Ubuntu Regular"), local("Segoe UI Regular"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: "Airbnb Cereal App Book";
	font-style: normal;
	font-weight: normal;
	src: local("Airbnb Cereal App Book"), url("/static/fonts/AirbnbCerealBook.woff") format("woff");
}

@font-face {
	font-family: "Airbnb Cereal App Medium";
	font-style: normal;
	font-weight: normal;
	src: local("Airbnb Cereal App Medium"), url("/static/fonts/AirbnbCerealMedium.woff") format("woff");
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body,
html {
	font-family: "Airbnb Cereal App Book", "system", arial, sans-serif;
	font-size: 14px;
	line-height: 1.58;
	letter-spacing: 0.025em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text-center {
	text-align: center;
	justify-content: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.hidden {
	display: none;
}

@media (min-width: 1600px) {
	.container {
		max-width: 1300px;
	}
}
