/* Define the "system" font family */
@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"),
		local("Ubuntu Regular"), local("Segoe UI Regular"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: "Airbnb Cereal App Book";
	font-style: normal;
	font-weight: normal;
	src: local("Airbnb Cereal App Book"), url("/static/fonts/AirbnbCerealBook.woff") format("woff");
}

@font-face {
	font-family: "Airbnb Cereal App Medium";
	font-style: normal;
	font-weight: normal;
	src: local("Airbnb Cereal App Medium"), url("/static/fonts/AirbnbCerealMedium.woff") format("woff");
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body,
html {
	font-family: "Airbnb Cereal App Book", "system", arial, sans-serif;
	font-size: 14px;
	line-height: 1.58;
	letter-spacing: 0.025em;
	font-display: swap;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Airbnb Cereal App Medium";
}

.text-center {
	text-align: center;
	justify-content: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.hidden {
	display: none;
}

.circle {
	border-radius: 50%;
}

.video-container video {
	width: 100%;
}

.loading-spinner {
	animation: loading-spinner 1s linear infinite;
}

@keyframes loading-spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (min-width: 1600px) {
	.container {
		max-width: 1300px;
	}
}

/* Stripe CSS */
.StripeElement {
	padding: 10px 12px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.StripeElement--focus {
	border: 1px solid #ddd;
}

.StripeElement--invalid {
	border-color: #fa755a;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}
