@font-face {
	font-family: "Airbnb Cereal App Book";
	font-style: normal;
	font-weight: normal;
	src: local("Airbnb Cereal App Book"), url("/static/fonts/AirbnbCerealBook.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Airbnb Cereal App Medium";
	font-style: normal;
	font-weight: normal;
	src: local("Airbnb Cereal App Medium"), url("/static/fonts/AirbnbCerealMedium.woff") format("woff");
	font-display: swap;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body,
html {
	font-family: "Airbnb Cereal App Book", arial, sans-serif;
	font-size: 14px;
	line-height: 1.58;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text-center {
	text-align: center;
	justify-content: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.hidden {
	display: none;
}

.circle {
	border-radius: 50%;
}

.rounded {
	border-radius: 5px;
}

.video-container video {
	width: 100%;
}

.loading-spinner {
	animation: loading-spinner 1s linear infinite;
}

@keyframes loading-spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* Stripe CSS */
.StripeElement {
	padding: 10px 12px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.StripeElement--focus {
	border: 1px solid #ddd;
}

.StripeElement--invalid {
	border-color: #fa755a;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}
