@font-face {
	font-family: "AirbnbCerealBook";
	font-style: normal;
	font-weight: normal;
	src: local("AirbnbCerealBook"), url("/static/fonts/AirbnbCerealBook.woff") format("woff"),
		url("/static/fonts/AirbnbCerealBook.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "AirbnbCerealBold";
	src: local("AirbnbCerealBold"), url("/static/fonts/AirbnbCerealBold.woff") format("woff"),
		url("/static/fonts/AirbnbCerealBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 14px;
	line-height: 1.7;
	font-family: "AirbnbCerealBook", sans-serif, Arial;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hidden {
	display: none;
}

.circle {
	border-radius: 50%;
}

.rounded {
	border-radius: 5px;
}

.video-container video {
	width: 100%;
}

.loading-spinner {
	animation: loading-spinner 1s linear infinite;
}

@keyframes loading-spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (min-width: 1600px) {
	.container {
		max-width: 1400px;
	}
}

/* Stripe CSS */
.StripeElement {
	padding: 1rem;
	border: 1px solid #ddd;
	border-radius: 2px;
}

.StripeElement--focus {
	border: 1px solid #ddd;
}

.StripeElement--invalid {
	border-color: #e74c3c;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}

/* hide */
.pnlm-about-msg {
	display: none !important;
}

.upload-list-inline .ant-upload-list-item {
	float: left;
	width: 200px;
	margin-right: 8px;
}
.upload-list-inline .ant-upload-animate-enter {
	animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
	animation-name: uploadAnimateInlineOut;
}
